body{
    background-color: rgb(255, 255, 255);
    padding: 0%;
    margin: 0px;
}

#titulo {
    font-size:50px;
    font-family:helvetica;
    font-weight:bold;
    color:#000000;
    text-align: center;
}

div#general{

    margin: auto;
    width: 1010px;
    height: 500px;

}
table{
    margin-left: 20px;
}
div#info{
    width: 500px;
    height: 400px;
    display: inline-block;
}

div#info1{
    display: inline-block;
    margin: auto;
}

input#r{
    display: block;
    margin: auto;
    width: 120px;
    height: 40px;
    font-size:20px;
    font-family:helvetica;
    font-weight:bold;
}

input#r:hover{
    background-color: black;
    color: chartreuse;
}
div#turno{
    width: 200px;
    height: 120px;
    font-size:20px;
    font-family:helvetica;
    font-weight:bold;
}
div#resultado{
    width: 200px;
    height: 120px;
    font-size:20px;
    font-family:helvetica;
    font-weight:bold;
}
.casilla{

    width:120px;
    height: 120px;
    font-size: 80px;
    font-weight: bold;    
    text-align: center;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
}
#casilla1{
    border-bottom: black 1px solid;
    border-right:black 1px solid;
}
#casilla2{
    border-bottom: black 1px solid;
    border-right:black 1px solid;
    border-left:black 1px solid;
}
#casilla3{
    border-bottom: black 1px solid;
    border-left:black 1px solid;
}
#casilla4{
    border-bottom: black 1px solid;
    border-right:black 1px solid;
    border-top:black 1px solid;
}
#casilla5{
    border: black 1px solid;
}
#casilla6{
    border-bottom: black 1px solid;
    border-top:black 1px solid;
    border-left:black 1px solid;
}
#casilla7{
    border-top: black 1px solid;
    border-right:black 1px solid;
}
#casilla8{
    border-top: black 1px solid;
    border-right:black 1px solid;
    border-left:black 1px solid;
}
#casilla9{
    border-top: black 1px solid;
    border-left: black 1px solid;
}



